$font_size: 36px;
$font_family: Arial;
text {
    font-size: $font_size;
    width: 1400px;
    font-family: $font_family;
    color: red;
}
svg {
   margin-top: 100px;
   width: 1400px;
   height: 300px;
}